---
const pageTitle = "Обо мне";
const identity = {
  firstName: "Остап",
  country: "Украина",
  occupation: "Веб-девелопер",
  hobbies: ["фотография", "наблюдение за птицами", "бейсбол"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Написание документации"];
const happy = true;
const finished = false;
const goal = 3;
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
   
    <a href="/"> На главную</a>
	<a href="/about/"> Обо мне</a>
    <a href="/blog/"> Блог</a>
    <h1>{pageTitle}</h1>
    <h2>... и моем новом сайте на Astro</h2>
    <p>Я прохожу вводный учебник по Astro. Это вторая страница моего сайта, и это первая страница, которую я создал самостоятельно!</p> 
    <p>Сайт будет обновляться по мере прохождения учебника, так что заходите сюда снова и следите за моим прогрессом!</p>
    <p>Несколько фактов обо мне:</p>
    <ul>
        <li>Меня зовут {identity.firstName}.</li>
        <li>Моя страна — {identity.country}, а род занятий — {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
        <li>Два моих увлечения: {identity.hobbies[0]} и {identity.hobbies[1]}</li>
            }
    </ul>
    <p>Мои навыки:</p>
        <ul>
             {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    {happy && <p>Я рад(а) изучать Astro!</p>}

    {finished && <p>Я завершил(а) это руководство!</p>}

    {goal === 3 ? <p>Моя цель — завершить за 3 дня.</p> : <p>Моя цель — не 3 дня.</p>}
</body>
  </body>
</html>