---
const platform = "github";
const username = "withastro";
const instUsername = "ijuswbstr";
const telegramUsername = "widdietd";
 

---

<footer>

    <p> Узнайте больше о моих пректах на <a href = {`https://www.${platform}.com/${username}`}> {platform} ! </p>
    <p> Мой инстаграм: <a href = {`https://www.instagram.com/${instUsername}`}> {instUsername} </a> </p>
    <p> Мой телеграм: <a href = {`https://t.me/${telegramUsername}`}> {telegramUsername} </a> </p>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    border: 1px solid #000000;
  }
</style>